.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    gap: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    width: 100%;
    /* width: 96%; */
}

.header-resource {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.header-resource img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.header-resource-value {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
